<h1>Merci de nous faire confiance !</h1>
<%= image_tag('kaka_kat.png', width: 200, class: 'center') %>
<p>Votre commande est bien enregistrée. Angélina va prendre contact avec vous très rapidement pour toutes les modalités de paiement et de livraison.
Vous faites désormais partie de la communauté KAKA.</p>
<p>Dans quelques secondes vous recevrez un mail de confirmation.</p>
<p class="center">L’équipe KAKA.</p>
<div class="order-button-div">
  <%= link_to shop_path do %>
    <button class="order-button back-to-shop-button">Boutique</button>
  <% end %>
</div>
